# Deny web access to PHP under lib/ (the vendored Dompdf tree has no ABSPATH
# guards). The site loads these files from PHP, never over HTTP. 19.3.2.
# Apache only: Cloudways runs PHP through Nginx + PHP-FPM and ignores this
# file; there the Cloudflare rule "readme+licence" blocks lib/*.php.
<FilesMatch "\.php$">
    Require all denied
</FilesMatch>
